header,
footer {
    background-color: rgb(69, 59, 255);
    width: 100%;
    height: 100px;
    color: #ffffff;/*
    height: 15%;*/
}

.page-wrap {
    padding: 1.2rem 0;
}


/* *** BOXES CONTAINIG THE MENU  *** */
.container,
.menu-menu-principal-container,
.menu,
.menu-item {
    height: 100%;
}

.menu {
    display: flex;
    justify-content: right;
}

.menu .menu-item {
    display: block; /* NO MORE NEED FOR: list-style-type: none;  */
    align-content: center;
}

/* *** HIDE SUB-MENU *** */
.sub-menu {
    display: none;
    padding: 0 0 0.1rem 0.4rem;
    border-radius: 0 0.4rem 0.4rem 0.4rem;
    border-left: solid 2px #ffffff;
    z-index: 999;
}

/* *** DISPLAY SUB-MENU *** */
.menu .menu-item-has-children:hover .sub-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 1, 1);
    box-shadow: 12px 12px 1px 1px rgba(0, 0, 250, 0.5);
}

.sub-menu li {
    border-bottom: solid 1px #ffffff;
}

.sub-menu li:last-child {
    border-bottom: solid 1px rgb(199, 1, 1);;
}

.menu a {
    padding: 0 1rem 0 0;
    color: #FFFFFF;
    text-decoration: none;
}
/* *** */

/* *** REFACTORING BOOTSTRAP *** */
.badge-secondary {
    color: white;
    background-color: blue;
}

.badge-primary {
    color: white;
    background-color: green;
}