header,
footer {
    background-color: rgb(83, 83, 37);
    width: 100%;
    height: 100px;
    color: #ffffff;/*
    height: 15%;*/
}

.page-wrap {
    padding: 2rem 0;
}

.top-menu ul, .bottom-menu {
    display: flex;
}

.menu li {
    list-style-type: none;
}

#hdr_menu_id a,
#ftr_menu_id a {
    padding: 0 1rem;
    color: #FFFFFF;
    text-decoration: none;
}

#hdr_menu_id li:first-child a,
#ftr_menu_id li:first-child a {
    padding-left: 0;
}

#hdr_menu_id li:first-child a,
#ftr_menu_id li:first-child a {
    padding-right: 0;
}